header{
    margin:0px;
    width: 100%;
    background-color: lawngreen;
    text-align: center;
    color: rgba(53, 58, 53, 0.253);
}

nav{
    background-color: rgb(107, 189, 107);
    align-content: center;
    width: 100%;
    margin:auto;
    position: fixed;
    top: 0px;

}

#menu {
    margin:auto;
    width: 80%;
    background-color: #fff;
}

#menu>li{
    display: inline;
    list-style-type: none;
}

#menu>li>a{
    text-decoration: none;
    padding: 10px;
    font-size: 1.5em;
}

#menu>li>a:hover{
    background-color: #fff;
}

main{
    background-color: black;
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
}

.ingredientes {
    list-style-position: outside;
}

.ingredientes > li{
    list-style-image: url(img/icon.png);
}

img{
    border-style: solid;
    border-width: 5px;
}
article{
   /* width: 65%;*/
   flex: 1;
    background-color: rgb(141, 65, 65);
    padding: 50px;
    border-radius: 5px;
    margin:10px 10px 10px 10px;
    min-width: 500px;
}

p.inline-block{
    display: inline-block;
}